<!DOCTYPE html>
<html lang="en">
<head>
  <style>

    .custom-marquee-logo {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    /* background: #957464; */
      background: #29473E;
    padding: 15px 0;
    position: relative;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
}

    .marquee-content-logo {
      display: inline-flex;
      align-items: center;
      animation: scrollMarquee 20s linear infinite;
    }

    .marquee-content-logo img {
      height: 100px; /* Logo size */
      width:100px;
      margin: 0 20px;
      border-radius:5px;
    }

    .marquee-content-logo span {
      font-size: 18px;
      margin: 0 20px;
      white-space: nowrap;
      color: #333;
    }

    @keyframes scrollMarquee {
      from {
        transform: translateX(0%);
      }
      to {
        transform: translateX(-50%);
      }
    }
    @media(max-width:767px){
      .marquee-content-logo img {
      height: 50px; 
    }

    }
  </style>
</head>
<body>

<div class="custom-marquee-logo">
  <!-- <h3 style="text-align:center;">Shop By Brands</h3> -->
  <div class="marquee-content-logo">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/Arabian_Perfume_House.png?v=1746561830" width="" height="" alt="Arabian Perfume House">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-17.png?v=1746372460" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-3.png?v=1746372460" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-16.png?v=1746372460" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-19.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-5.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-2.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-4.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-14.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-18.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-12.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-15.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-13.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-8.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-11.png?v=1746372458" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-10.png?v=1746372458" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-9.png?v=1746372458" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-7.png?v=1746372458" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-1.png?v=1746372458" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-6.png?v=1746372457" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/Arabian_Perfume_House.png?v=1746561830" width="" height="" alt="Arabian Perfume House">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-17.png?v=1746372460" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-3.png?v=1746372460" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-16.png?v=1746372460" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-19.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-5.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-2.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-4.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-14.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-18.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-12.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-15.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-13.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-8.png?v=1746372459" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-11.png?v=1746372458" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-10.png?v=1746372458" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-9.png?v=1746372458" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-7.png?v=1746372458" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-1.png?v=1746372458" width="" height="" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0749/5073/8132/files/logo-6.png?v=1746372457" width="" height="" alt="">
    <!-- <img src="" width="" height="" alt=""> -->
    
  </div>
</div>

</body>
</html>
