<style>
  .main-div{
    text-align: center; padding: 20px;
  }
  .whatsapp-button{
    display: inline-block; 
    background-color: #29473e; 
    color: white; 
    padding: 12px 20px; 
    width:50%; 
    border-radius: 50px; 
    text-decoration: none; 
    font-weight: bold;
  }
  .whatsapp-button:hover{
    color:#8b6e60;
  }

  .after-heading{
    font-size:22px;
    color:#4D112C;
  }

  @media(max-width:767px)
  {
     .whatsapp-button{
    width:100%; 
  }
</style>
<div class="main-div">

   <p class="after-heading">
    Looking for a rare, niche, discontinued, or hard-to-find scent?
    <br>
    Fragrance on Demand is here to help. Submit a request and we’ll handle the rest.
  </p> 
<a href="https://wa.me/971585078725" target="_blank" class="whatsapp-button">
 WhatsApp Us Now
  </a>
<p style="font-size: 20px; margin-top: 20px; color:black;margin-bottom: 0px;">
    OR 
  </p>
</div>